/*
 * -------------------------------------------------
 *  Nextflow config file for kWIP pipeline
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/kWIP-nf'
    description = "A nextflow pipeline to estimate sample (dis)similarity using kWIP"
    mainScript = 'main.nf'
//    nextflowVersion = '18.10+'
}

env {
   PAR_TEMP = "${PWD}/work"
   PAR_GLOBAL_TMPDIR = "${PWD}/work"
}

profiles {
  ii2 {
    includeConfig 'conf/base.config'
    includeConfig 'conf/ii2.config'
  }
  mendel {
    includeConfig 'conf/base.config'
    includeConfig 'conf/mendel.config'
  }
  conda {
    process.conda = "$baseDir/environment.yaml"
  }
  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
}
report {
  enabled = true
}
trace {
  enabled = true
}
dag {
  enabled = true
}
