/* -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 */

process {
  withName: trimGalore {
	container = 'quay.io/biocontainers/trim-galore:0.5.0--0'
  	cpus = { 2 * task.attempt }
  	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: khmerInterleaving {
	container = 'quay.io/biocontainers/kwip:0.2.0--hd28b015_1'
  	cpus = { 2 * task.attempt }
  	memory = {16.GB * task.attempt }
  	time = { 8.h * task.attempt }
  }

  withName: khmerHashing {
	container = 'quay.io/biocontainers/kwip:0.2.0--hd28b015_1'
  	cpus = { 4 * task.attempt }
  	memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: kWIP {
	container = 'quay.io/biocontainers/kwip:0.2.0--hd28b015_1'
  	cpus = { 8 * task.attempt }
  	memory = { 8.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
