/* -------------------------------------------------
 * Nextflow config file for MENDEL
 * -------------------------------------------------
 */

process {
  executor = 'pbs'
  module = ['Miniconda3']

  withName: trimGalore {
  	cpus = { 2 * task.attempt }
  	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: khmerInterleaving {
  	cpus = { 2 * task.attempt }
  	memory = {16.GB * task.attempt }
  	time = { 8.h * task.attempt }
  }

  withName: khmerHashing {
  	cpus = { 4 * task.attempt }
  	memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: kWIP {
  	cpus = { 4 * task.attempt }
  	memory = { 32.GB * task.attempt }
  	time = { 8.h * task.attempt }
  }

  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
